@using Output4Epam.Providers
@using Output4Epam.Entities

@{
	bool isAdmin = User.Identity.Name == String.Empty ? false : LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScroll.Admin.ToString());
}

@{
	Layout = @"/Pages/Layouts/MainLayout.cshtml";
}

@if (isAdmin)
{
	<div>
		<p>
			There're @LogicProvider.RegUserLogic.GetAdminCount() admins in the database
		</p>
	</div>

<ul class="userlist">
	@foreach (var item in LogicProvider.RegUserLogic.GetAll())
	{

		<li class="userlistitem col-xs-12 col-md-5" data-login="@item.Login">
			<div>
				<p class="title col-xs-8">Login: @item.Login</p>
				<p class="cost col-xs-4">Has @item.Money руб.</p>
			</div>
			<p class="info col-xs-12">
				Roles:
				@foreach (var rolename in @LogicProvider.RegUserLogic.GetRolesForUser(item.Login))
				{
					<span class="role">@rolename</span>
				}
			</p>
			<div class="col-xs-12">
				<p class="btn btn-danger removeuser" data-action="remove">Remove</p>
				<p class="btn btn-default togglevipuser" data-action="togglevip">Toggle VIP</p>
				<p class="btn btn-default toggleadminuser" data-action="toggleadmin">Toggle admin</p>
				<p class="btn btn-warning banuser" data-action="ban">Ban</p>
			</div>
		</li>
	}
</ul>
<div id="tooltip"></div>
}