@using Output4Epam.Providers

<section class="section">
	<ul>
		@foreach (var item in LogicProvider.LotLogic.GetAll())
		{
			<li>
				<img src="/Pages/AJAX/GetImage.cshtml?id=@item.Id" alt="image" />
				<p class="title">@item.Title.ToString()</p>
				<p class="info">@item.Info</p>
				<p class="city">г. @item.Sity</p>
				<p class="cost">@(item.Cost) руб.</p>
				<p class="postDate tooltip" data-tooltip="format in dd.mm.yyyy">@item.PostDate.ToString("dd.MM.yyyy")</p>
				<p class="button">Подробнее</p>
				@foreach (var type in @item.Types.ToString().Split(','))
				{
				<p class="categories" >
					<span>@String.Join("", "#", type)</span>
				</p>
				}
			</li>
		}
	</ul>
	<div id="tooltip"></div>
</section>