@using Output4Epam.Providers
@using Output4Epam.Entities
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
	<title>Yay</title>

	@{
		bool banned = false;

		if (LogicProvider.RegUserLogic.GetRolesForUser(User.Identity.Name).Contains(RoleScrolls.Ban.ToString()))
		{
			banned = true;
		}

		string colorShemeHref = "/Content/oldschoolblack.css";
		if (User.Identity.IsAuthenticated)
		{
			RegUser user = LogicProvider.RegUserLogic.GetByLogin(User.Identity.Name);
			if (user.ColorSheme != String.Empty)
			{
				colorShemeHref = "/Content/" + user.ColorSheme + ".css";
			}
		}
	}

	@if (banned)
	{
		Response.Redirect("/Pages/ErrorPages/403.cshtml");
	}

	<link id="stylesheet" name="stylesheet" href=@colorShemeHref rel="stylesheet" />
</head>
<body>
	<!-- TODO to ask logo? -->
	@RenderPage("/Pages/StructureElements/HeadLogo.cshtml")
	@RenderPage("/Pages/StructureElements/HelloForm.cshtml")
	@RenderPage("/Pages/StructureElements/NavMenu.cshtml")
	@RenderBody()
	@RenderPage("/Pages/StructureElements/FootLogo.cshtml")

	<!-- TODO to ask -->
	<script src="~/Scripts/jquery-2.1.4.js"></script>
	<script src="~/Scripts/raphael.js"></script>
	<script src="~/Scripts/pie.js"></script>
	<script src="~/Scripts/MyScripts/JavaScript.js"></script>
</body>
</html>